.new-expense {
   padding: 1rem;
   margin: 2rem auto;
   width: 50rem;
   max-width: 95%;
   border-radius: 12px;
   text-align: center;
   background-color: var(--lightorange-clr);
   box-shadow: 0 1px 4px var(--lightorange-clr);
}
 
.new-expense button {
   font: inherit;
   cursor: pointer;
   padding: 0.5rem 1.25rem;
   border: 1px solid var(--white-clr);
   background-color: var(--orange-clr);
   color: var(--white-clr);
   border-radius: 12px;
   margin-right: 1rem;
   font-weight: bold;
   transition: all 0.3s ease-in-out;
}

.new-expense button:hover,
.new-expense button:active {
   background-color: var(--white-clr);
   color: var(--orange-clr);
   border: 1px solid var(--orange-clr);
}
 
.new-expense button.alternative {
   color: var(--orange-clr);
   border-color: transparent;
   background-color: transparent;
}
 
.new-expense button.alternative:hover,
.new-expense button.alternative:active {
   background-color: var(--lightblue-clr);
}